@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* DEFINIR PROPRIEDADE PERSONALIZADA NO ESCOPO */
:root{ /* VARIÁVEIS */
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}


*{
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.container {
    text-align: center;
}

.progress-container {
    display: flex; /* vamos exibir isso como uma caixa flexível */
    justify-content: space-between; /* eu justifiquei o conteúdo e colocar o espaço entre os elementos */
    position: relative; /* posicionei como relativo para poder posicionar outras coisas dentro dele */
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* CRIANDO A LINHA AZUL */

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%; /* representará a linha vazia */
    z-index: -1; /* quero ter certeza que o índice Z esteja atrás dos círculos, atrás dos números. */
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1; /* quero ter certeza que o índice Z esteja atrás dos círculos, atrás dos números. */
    transition: .4s ease;
}

/* ESTILIZAR AGORA OS CÍRCULOS */


.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* centralizar */
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

/* BOTÕES */

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}
/* se livrando do contorno */
.btn:focus {
    outline: 0;
}
/* se p botão estiver desabilitado, ele vai ficar cinza */
.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}


